---
thread:
  -
    from: me
    image: gameplay.png
  -
    from: me
    text: This is what I'm working on
  -
    from: you
    text: Is it a game?
  -
    from: me
    text: That's the question for you
  -
    from: me
    text: What do you think it is?
  -
    from: you
    text: Hangman?
  -
    from: you
    text: For drawing?
  -
    from: me
    text: What do you think you can do with it?
  -
    from: you
    text: Learn a new language?
  -
    from: me
    text: How?
  -
    from: you
    text: You get more points if you name what the object is in English as well as another language
  -
    from: me
    text: Where do you see points?
  -
    from: you
    text: The side bar
  -
    from: you
    text: On the right
  -
    from: me
    text: What else can you do?
  -
    from: you
    text: You can guess in more that one language
  -
    from: you
    text: You can draw using color
  -
    from: you
    text: Or your original or first guess does not have to be in English
  -
    from: you
    text: You can see how everyone else played
  -
    from: you
    text: What they guessed
  -
    from: me
    text: What makes you think of hangman?
  -
    from: you
    text: You can see scores
  -
    from: you
    text: I guess it's really more like a mix of hangman and Jeopardy
  -
    from: you
    text: Or, not Jeopardy
  -
    from: you
    text: Wheel of fortune
  -
    from: you
    text: With Pictionary thrown in
  -
    from: me
    text: What makes you think wheel of fortune?
  -
    from: you
    text: Because you're choosing letters
  -
    from: you
    text: Up at the top where it said
  -
    from: you
    text: tree
  -
    from: you
    text: Did it already populate the number of letters in the word
  -
    from: you
    text: Or was that just the correct guess based on the drawing?
  -
    from: me
    text: What makes you think of Pictionary?
  -
    from: you
    text: The drawing
  -
    from: me
    text: What do you think the 1:30 is?
  -
    from: you
    text: Either the time it took you to draw, the time you had to draw, or the time players have to guess
  -
    from: you
    text: Players have a minute and 30 seconds to guess the drawing
  -
    from: you
    text: Or the time that it took for everyone to guess
  -
    from: you
    text: Or for the first person to guess correctly
  -
    from: you
    text: Or this game was played at 1:30 PM
  -
    from: you
    text: Lol
  -
    from: me
    text: Is there anything you don't see here you might expect to find?
  -
    from: you
    text: I need to know what the game is
  -
    from: you
    text: But I don't see the usual drawing features
  -
    from: you
    text: The option to make the lines thin or thick
  -
    from: you
    text: The eraser
  -
    from: you
    text: The option to add shapes
  -
    from: me
    text: Any other options you would expect while drawing?
  -
    from: you
    text: A text box
  -
    from: you
    text: If the game allows for that
  -
    from: you
    text: Maybe some arrows or lines that allow you to build a shape
  -
    from: you
    text: Am I right?
  -
    from: me
    text: Yup
  -
    from: me
    text: It's like Pictionary but you can guess in more than one language
  -
    from: me
    text: And like you said get more points if you get both
  -
    from: you
    text: So who is your target audience
  -
    from: me
    text: The answer is I'm still figuring that out
  -
    from: me
    text: Do you ever play any games like this with your class?
  -
    from: you
    text: I don't play anything like this with my class but that doesn't mean I wouldn't
  -
    from: you
    text: I think it's a lot of fun
  -
    from: me
    text: What do you think might make it fun in your class?
  -
    from: you
    text: Well, not a lot of my students speak a second language but
  -
    from: you
    text: I think what would make it fun is if there was a word generator
  -
    from: you
    text: And the audience is told the category
  -
    from: you
    text: Or the student gets to pick the category
  -
    from: me
    text: How would you imagine that would work?
  -
    from: you
    text: If you wanted to make it educational then adding categories like nouns
  -
    from: you
    text: Or parts of speech
  -
    from: you
    text: I can show you more tomorrow but I have to work on my play
  -
    from: me
    text: That would be cool, and no worries
  -
    from: me
    text: Thanks for all your help
  -
    from: me
    text: One more question before I let you go?
  -
    from: you
    text: Yes
  -
    from: you
    text: I do think this is a cool idea
  -
    from: me
    text: Can you think of anyone you know that might be interested in testing this out? That you could put me in touch with?
  -
    from: you
    text: I'll test it out for you
  -
    from: you
    text: My whole school can test it out for you
  -
    from: me
    text: A working prototype is probably a ways off, but that's really good to know :)
  -
    from: me
    text: If you think of anyone in the meantime who might be helpful to talk to or get some early feedback from, like in these early concept stages, that would also be a big helpful
  -
    from: you
    text: Sure!
  -
    from: me
    text: That would be great :)
  -
    from: me
    text: No rush right now, but I will probably reach out about it again when I'm a little further along
  -
    from: you
    text: Send me what you have when you're ready
  -
    from: me
    text: Thanks again!
  -
    from: me
    text: This has been extremely helpful :)
  -
    from: me
    text: I'll let you get back to it
---

<title>Semi-sync Test</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<ol class="thread">
{% for message in thread %}
  <li class="message {{ message.from }}">
    {% if message.image %}
      <img src="/{{ message.image }}" />
    {% endif %}
    {{ message.text }}
  </li>
{% endfor %}
</ol>

<style>
  body {
    background-color: ivory;
    font-family: system-ui, sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
  }
  img {
    display: block;
    max-inline-size: 100%;
  }
  .thread {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
    max-inline-size: 40rem;
    min-block-size: 100vh;
    padding: 16px 8px;
  }
  .message {
    align-self: flex-end;
    background-color: gainsboro;
    border-radius: 8px 8px 0 8px;
    list-style: none;
    max-inline-size: 30rem;
    padding: 12px;
  }
  .you {
    align-self: flex-start;
    background-color: aquamarine;
    border-radius: 8px 8px 8px 0;
  }
</style>
